.terraform/

.project
.classpath
.settings/
.cvsignore
.DS_Store
test-output
target/**
bin/**
*.orig
**/target/**

build-number.txt
release.properties
pom.xml.*
*.lck
log\*
*.log
**/*.bak
*.bak
etc/**
**/rebel.xml

**/.idea/
.idea
**/*.iml
**/*.iws
**/*.ipr
atlassian-ide-plugin.xml
test-output/
target/
bin/

node_modules/
dist/
node/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
